<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>

    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>

    <div class="container">

        <div class="row">

            <div class="col-md-4"></div>

            <div class="col-md-4">

                <main class="form-signin w-100 m-auto mb-5 mt-5">
                    <form class="">

                        <div class="d-flex align-items-center justify-content-center direction-column">
                            <img src="static/img/musica_logo.png" alt="logo" style="width: 80px;">
                        </div>


                        <h1 class="h3 text-center mb-3 fw-normal">Signup</h1>

                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="form-floating">
                            <input type="number" class="form-control" id="floatingPhoneNumber" placeholder="Phone Number">
                            <label for="floatingPhoneNumber">Phone Number</label>
                        </div>

                        <div class="form-check text-start my-3">
                            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Remember me
                            </label>
                        </div>
                        <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>

                        
                        <div class="mt-4">
                            <p>Login <a href="login.html">Here</a></p>
                        </div>
                    </form>
                </main>

            </div>
        </div>

    </div>




    <footer>

        <a href="index.html" class="d-flex align-items-center mb-3 ">
            <img src="static/img/musica_logo.png" alt="logo">
        </a>

        <p>All Rights Reserved.</p>

    </footer>











    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.min.js"></script>

</body>

</html>