<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>

    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="static/img/musica_logo.png" alt="musica_logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="create-event.html">Create Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signup.html">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
 

    <div class="container d-flex align-items-center justify-content-center">
        <div class="event-details">
            <img src="static/img/Coachella.png" class="w-100" alt="events">
            <div class="d-flex align-items-center justify-content-between">
                <p class="date">4th May, 2024</p>
                <button class="btn btn-bookmark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M18 2H6c-1.103 0-2 .897-2 2v18l8-4.572L20 22V4c0-1.103-.897-2-2-2zm0 16.553-6-3.428-6 3.428V4h12v14.553z"></path></svg>                    
                </button>
            </div>

            <h3 class="event-title">Coachella Valley Music and Arts Festival</h3>

            <p>Location:  Indio, Palm Springs, California, US.</p>

            <p>The Coachella Valley Music and Arts Festival, commonly known as Coachella, is an iconic annual music festival held in Indio, California. It spans two weekends in April and features a diverse lineup of genres including rock, pop, indie, hip hop, and electronic dance music. Beyond music, the festival is renowned for its art installations and celebrity sightings, creating a vibrant backdrop for festival-goers immersed in Coachella's unique cultural experience. Get ready to experience an electrifying blend of sounds and styles as we bring together some of the most talented artists from across the globe. Join us as we celebrate the power of music to unite, inspire, and transform. Don't miss out on this spectacular musical extravaganza!</p>
        
            <p>Ticket Prices:</p>

            <ul>
                <li>General Admission Final Release: $129</li>
                <li>Early Bird: $129</li>
                <li>General Admission Final Release: $149</li>
                <li>ReFresh (18+): $250</li>
                <li>Oasis (18+): $350</li>
                <li>The Terrace (18+): $525</li>
            </ul>

            <p>Organised By: William John</p>

            <div class="row my-4">

                <a href="buy-tickets.html" class="btn btn-primary">Book Tickets</a>
        
            </div>

            <h4>Comments</h4>
            <div class="card">

                <div class="card-body">

                    
                    <div class="media mb-4 d-flex">
                        <div>
                            <img src="static/img/p1.avif" alt="User" class="mr-3 rounded-circle me-4" style="width: 45px; height: 45px;">
                        </div>
                        <div class="media-body">
                            <h5 class="mt-0">Samantha Lee</h5>
                            <p>Coachella never disappoints! The performances this year were out of this world, and I loved the food options available. Met so many amazing people. Truly a weekend to remember!
                            </p>
                        </div>
                    </div>
                    
                    <div class="media mb-4 d-flex">
                        <div>
                            <img src="static/img/p2.avif" alt="User" class="mr-3 rounded-circle me-4" style="width: 45px; height: 45px;">
                        </div>
                        <div class="media-body">
                            <h5 class="mt-0">Alex Johnson</h5>
                            <p>Just got back from Coach and the energy in the crowd was electric. The art installations were breathtaking and added so much to the overall vibe. Can't wait for next year!.</p>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">

                            <textarea class="form-control mb-2" name="" id="" cols="30" rows="10" placeholder="Enter your comment.."></textarea>
                            <p class="text-end">(0/50)</p>


                            <button class="btn btn-secondary">Add Comment</button>

                        </div>
                    </div>

                </div>
            </div>
        
        </div>
    </div>
 
 


    <footer>

        <a href="index.html" class="d-flex align-items-center mb-3 ">
            <img src="static/img/musica_logo.png" alt="logo">
        </a>

        <p>All Rights Reserved.</p>

    </footer>











    <script src="static/css/bootstrap.css"></script>
    <script src="js/jquery.min.js"></script>

</body>

</html>