<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musica</title>

    <link rel="stylesheet" href="static/css/bootstrap.css">

    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="static/image/musica_logo.png" alt="musica_logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-nowrap">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="create-event.html">Create Event</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link disabled text-muted" href="#">Welcome {{current_user.name}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

    <div class="hero-section">
        <div class="container">
            
            <h1>Welcome to <span class="primary-color">Musica</span></h1>
            
            <p>Music, Unleash the Magic!</p>

            <div class="search-area">
                
                <input class="search-input" type="text" placeholder="Search for Events or Artists">
                
                <button class="search-btn">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z">
                        </path>
                    </svg>

                </button>

            </div>

        </div>
    </div>



    <div class="artists-section">

        <div class="container">

            <h3 class="title ">Upcoming Events</h3>

            <form>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path></svg>
                    </span>
                    <input type="text" class="form-control" id="venue" placeholder="Choose your city!">
                </div>

            </form>

            <div class="row">
                <div class="item col-lg-3 col-sm-12">
                    <div class="card">
                        <img src="static/image/artist1.avif" class="card-img" alt="events">
                        <div class="card-body">

                            <h5 class="card-title"><b>Lebanon Hanover</b></h5>

                            <p class="ms-2">
                                <span class="badge rounded-pill bg-danger">Sold Out</span>
                            </p>

                            <div class="card-text">

                                <p>Location: Goat At Night, Rockhampton, QLD, Australia</p>
                                <p>Date: 02/12/2024</p>
                                <p>Time: 09:00 PM</p>
                                
                            </div>
                            <a href="event details.html" class="btn btn-primary">Find Tickets</a>
                        </div>
                    </div>
                </div>

                <div class="item col-lg-3 col-sm-12">
                    <div class="card">
                        <img src="static/image/c2.jpg" class="card-img" alt="events">
                        <div class="card-body">
                            <h5 class="card-title"><b>Coachella Valley Music and Arts Festival</b></h5>
                            <p>
                                <span class="badge rounded-pill bg-success">Open</span>
                            </p>
                            <div class="card-text">

                                <p>Location: Indio, California, US</p>
                                <p>Date: 04/05/2024</p>
                                <p>Time: 10:30 AM</p>
                                
                            </div>
                            <a href="event details.html" class="btn btn-primary">Find Tickets</a>
                        </div>
                    </div>
                </div>

                <div class="item col-lg-3 col-sm-12">
                    <div class="card">
                        <img src="static/image/6lack.avif" class="card-img" alt="events">
                        <div class="card-body">
                            <h5 class="card-title"><b>6lack</b></h5>
                            <p>
                                <span class="badge rounded-pill bg-secondary">Inactive</span>
                            </p>
                            <div class="card-text">

                                <p>Location: The Fortitude Music Hall, Brisbane, QLD</p>
                                <p>Date: 27/04/2024</p>
                                <p>Time: 11:00 PM</p>
                                
                            </div>
                            <a href="event details 2.html" class="btn btn-primary">Find Tickets</a>
                        </div>
                    </div>
                </div>


                <div class="item col-lg-3 col-sm-12">
                    <div class="card">
                        <img src="static/image/artist4.avif" class="card-img" alt="events">
                        <div class="card-body">
                            <h5 class="card-title"><b>Groovin the Moo 2024</b></h5>
                            <p>
                                <span class="badge rounded-pill bg-dark">Cancelled</span>
                            </p>
                            <div class="card-text">

                                <p>Location: Sunshine Coast Stadium, Sunshine Coast, QLD, Australia</p>
                                <p>Date: 01/01/2024</p>
                                <p>Time: 8:00 PM</p>
                                
                            </div>
                            <a href="event details.html" class="btn btn-primary">Find Tickets</a>
                        </div>
                    </div>
                </div>


            </div>


        </div>

    </div>

    <div class="music-genres">

        <div class="container">

            <h3 class="title ">Pick Your Music Genres!</h3>
            
        </div>

        <div class="container genres">

            <div class="genre-item">
                <img src="static/image/icons/icons8-accordion-48.png" alt="Folk">
                <p><b>Folk</b></p>
            </div>
            <div class="genre-item">
                <img src="static/image/icons/icons8-country-music-48.png" alt=" Country">
                <p><b>Country</b></p>
            </div>
            <div class="genre-item">
                <img src="static/image/icons/icons8-boombox-48.png" alt="...">
                <p><b>RnB</b></p>
            </div>
            <div class="genre-item">
                <img src="static/image/icons/icons8-dancing-48.png" alt="....">
                <p><b>Dance/Pop</b></p>
            </div>
            <div class="genre-item">
                <img src="static/image/icons/icons8-electronic-music-48 (1).png" alt="...">
                <p><b>Electronic</b></p>
            </div>
            <div class="genre-item">
                <img src="static/image/icons/icons8-maracas-48.png" alt="...">
                <p><b>Latin</b></p>
            </div>
            <div class="genre-item">
                <img src="static/image/icons/icons8-orchestra-48.png" alt="...">
                <p><b>Classical</b></p>
            </div>
            <div class="genre-item">
                <img src="static/image/icons/icons8-r'n'b-48 (1).png" alt="...">
                <p><b>Rap & Hip Hop</b></p>
            </div>
            <div class="genre-item">
                <img src="static/image/icons/icons8-rock-music-64.png" alt="rock">
                <p><b>Rock</b></p>
            </div>
        </div>
    </div>


    <div class="trending-artists">
        <div class="container">


            <h3 class="title ">Trending Artists</h3>

            <div class="row">

                <div class="col-md-3">                    
                    <div class="trending-item">
                        <div class="profile-img">
                            <img src="static/image/ariana.avif" alt="ariana">
                        </div>
                        <h3 class="name">Ariana Grande</h3>
                    </div>
                </div>

                <div class="col-md-3">                    
                    <div class="trending-item">
                        <div class="profile-img">
                            <img src="static/image/lil uzi.jpg" alt="lil">
                        </div>
                        <h3 class="name">Lil Uzi Vert</h3>
                    </div>
                </div>

                <div class="col-md-3">                    
                    <div class="trending-item">
                        <div class="profile-img">
                            <img src="static/image/rihanna.jpg" alt="rihanna">
                        </div>
                        <h3 class="name">Rihanna</h3>
                    </div>
                </div>
                <div class="col-md-3">                    
                    <div class="trending-item">
                        <div class="profile-img">
                            <img src="static/image/riize.jpg" alt="riize">
                        </div>
                        <h3 class="name">Riize</h3>
                    </div>
                </div>


            </div>

            <div class="row mt-5">
                <div class="col-12 text-center">
                    <button class="btn btn-primary">View More</button>
                </div>
            </div>
 
 


        </div>
    </div>


    <footer>

        <a href="index.html" class="d-flex align-items-center mb-3 ">
            <img src="static/image/musica_logo.png" alt="logo">
        </a>

        <p>All Rights Reserved.</p>


    </footer>











    <script src="static/css/bootstrap.css"></script>


</body>

</html>